
<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  <!-- Brand -->
  <a class="navbar-brand" href="#">Gestion Étudiants</a>

  <!-- Links -->
  <ul class="navbar-nav">
    <li >
      <a class="nav-link" routerLink="/etudiants">Home</a>
    </li>

    <!-- Dropdown -->
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-bs-toggle="dropdown" role="button" aria-expended="false">
        Étudiants
      </a>
      <div class="dropdown-menu">
        <a class="dropdown-item" href="#">Ajouter</a>
        <a class="dropdown-item" *ngIf="keycloakService.getUserRoles().includes('ADMIN')" routerLink="/etudiants">Lister</a>

      </div>
    </li>
  </ul>

  <ul class="navbar-nav ml-auto">
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-bs-toggle="dropdown" role="button" aria-expended="false">
        <span *ngIf="profile; else NOT_LOGGED_IN">{{profile.username}}</span>
        <ng-template #NOT_LOGGED_IN>
          <button class="btn btn-success" (click)="onLogin()">Login</button>
          </ng-template>
      </a>
      <div class="dropdown-menu">
        <a class="dropdown-item" (click)="onLogout()">logout</a>
        <a class="dropdown-item" href="#">Profile</a>
      </div>
    </li>
  </ul>
</nav>
<router-outlet></router-outlet>

